:root {
    --couleur-principale: #ecb587;
    --couleur-secondaire: #149400;
    --couleur-police: #575757;
    --couleur-fond: #f4f4f4;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

/* Style du body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--couleur-fond);
    background-size: cover;
}

/* Style du header */
header {
    background-color: var(--couleur-principale);
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: var(--couleur-police);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: white;
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: all 0.3s;
}

/* Section de présentation */
.hero {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/constantine-algerie.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

/* Parti main */

.hotel-list {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.hotel-list h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--couleur-principale);
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-size: 1.2rem;
}

td {
    font-size: 1rem;
}

td a {
    color: var(--couleur-secondaire);
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--couleur-principale);
    color: var(--couleur-police);
    text-align: center;
    padding: 20px;
}


/* Media Queries */

/* Pour les tablettes */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 20px;
    }

    .nav-links li {
        margin-left: 15px;
    }
}

/* Pour les téléphones */
@media(max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 18px;
    }

    th, td {
        padding: 10px;
    }

    .hotel-list h2 {
        font-size: 1.5rem;
    }

}